@{
    ViewData["Title"] = "Find Donors";
}

@model FindDonorsViewModel

<div class="headingdonor"><h1>Find a </h1></div>
<div class="select-blood-group"><h1>Select a </h1></div>

<div>

    <form asp-controller="Home" id="find-form" asp-action="FindDonors" method="post">
     <select id="find-bloodgroup" asp-for="BloodGroup" asp-items="Html.GetEnumSelectList<BloodGroup>()"></select>
    <button class="find-submit" type="submit">Submit</button>
    </form>
</div>

<table class="table1">
    <tbody>
        @{
            if (Model != null)
            {
                <tr>
                    <th>Full Name</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Blood-Group</th>
                    <th>Diseases</th>
                   <th>Days post recovery</th>
                </tr>

                 foreach(var data in Model.Donors)
                        {
                                 <tr>   
                                    <td>@data.Name</td>
                                    <td>@data.ContactNumber</td>
                                    <td>@data.Gender</td>
                                    <td>@data.BloodGroup</td>
                                    <td>@data.Disease</td>
                                    <td>@data.DaysFromCovidRecovery</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<div class="slider"><h4>Swipe for full data</h4></div>
